<div th:fragment="header">
  <div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="nav-link" th:href="@{'/auction'}"> <i class="fas fa-home mx-1"></i>  </a>
    <a class="nav-link" th:href="@{'/auction'}"> <i class="fas fa-user mx-1"></i>  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto topnav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/caretakers'}">Caretakers</a>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/vets'}">Vets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/clients'}">Clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/cages'}">Cages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/diets'}">Diets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Animals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/vaccines'}">Vaccine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Medical Record</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" type="button" href="#" >Sign In</a>
        </li>&nbsp;
        <li class="nav-item">
          <a class="nav-link btn btn-primary text-white" type="button" th:href="@{'/participant/form'}" >Register</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
</div>