<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add vaccine</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

    <div th:replace="/includes/header :: header"> </div>
</head>
<body>
    <form enctype="multipart/form-data" method="post" th:action="@{/vaccines}" th:object="${vaccine}">

        <div class="container" style="margin-top: 50px">
            <div class="panel panel-default">
                <div  class="panel-heading">
                    <h3> Add a new vaccine </h3>
                </div>

                <div th:if="${#fields.hasErrors('global')}">
                    <h3>Errors:</h3>
                    <p th:each="exception : ${#fields.errors('global')}" th:text="${exception}" class="text-danger"></p>
                </div>

                <div class="panel-body">
                    <div class="form-group row">

                        <div class="col-md-6 ">
                            <div class="form-row">
                                <label>
                                    Vaccine Name
                                    <input class="form-control" th:field="*{vaccineName}" type="text" placeholder="Vaccine Name..."/>
                                </label>
                                <p th:if="${#fields.hasErrors('vaccineName')}"
                                   th:text="${#strings.listJoin(#fields.errors('vaccineName'), ', ')}"
                                   class="text-danger"></p>
                            </div>
                            <br>
                            <div class="form-row">
                                <label>
                                    Expiration Date
                                    <input class="form-control" th:field="*{expirationDate}" type="date" placeholder="Expiration Date..."/>
                                </label>
                                <p th:if="${#fields.hasErrors('expirationDate')}"
                                   th:text="${#strings.listJoin(#fields.errors('expirationDate'), ', ')}"
                                   class="text-danger"></p>
                            </div>
                            <br>
                            <div class="form-row">
                                <label>
                                    Quantity On Stock
                                    <input class="form-control" th:field="*{quantityOnStock}" type="number" placeholder="Quantity On Stock..."/>
                                </label>
                                <p th:if="${#fields.hasErrors('quantityOnStock')}"
                                   th:text="${#strings.listJoin(#fields.errors('quantityOnStock'), ', ')}"
                                   class="text-danger"></p>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-1 ml-md-auto">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>